<h2>Últimas noticias</h2>

<!-- Controles de filtro -->
<div class="filtros">
  <label>
    Desde:
    <input type="date" [(ngModel)]="desde">
  </label>

  <label>
    Hasta:
    <input type="date" [(ngModel)]="hasta">
  </label>

  <label>
    Buscar:
    <input type="text" placeholder="título o contenido" [(ngModel)]="busqueda">
  </label>
</div>

<!-- Lista -->

@if(noticiasFiltradas.length >0){
  <ul>
    @for(n of noticiasFiltradas; track $index){
      <li>
        <h3>{{n.titulo}}</h3>
        <small>{{n.fecha | date:'mediumDate'}}</small>
        <p>{{n.contenido}}</p>
      </li>
    }
  </ul>
}@else {
  <p>No hay noticias para los filtros seleccionados.</p>
}